*{
    margin: 0;
    color: #fff;
}
body{
    background: url(../img/bg-body.jpg) no-repeat;
    background-size: cover; 
    background-position: center;
}
/* HEADER */
.header{
    background: rgba(50, 50, 50, 0.6);
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    margin: 1.5%;
}
.div__edit__time{
    border: 2px solid red;
    margin: 1.5%;
}
.div__time{
    padding-bottom: 15%;
}
.div__edit{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.div__edit a{
    border: 2px solid red;
    text-decoration: underline;
}
.logo{
    margin: 1.5%;
    border: 2px solid red;
    width: 18%;
    height: 18%;
}

/* div__main */
.div__main{
    border: 2px solid red;
    margin: 1.5%;
    display: flex;
}
.div__users__chat__online{
    background: rgba(50, 50, 50, 0.6);
    border: 2px solid red;
    margin: 2% 1.5% 1.5% 1.5%;
    display: inline-block;
    width: 25%;
}
.div__users__chat{
    background: rgba(255, 178, 35, 0.2);
    border: 2px solid red;
    margin: 5%;
    height: 90%;
}
.p__tabs{
    border: 2px solid red;
    display: inline-block;
    width: 15%;
    text-align: center;
}
.div__chat{
    border: 2px solid red;
    display: inline-block;
    margin: 0.5% 1.5% 1.5% 0;
}
.nick__name{
    display: inline-block;
    text-decoration: underline;
    line-height: 2;
}
.div__chat_m p{
    display: contents;
}
.div__chat_m{
    background: rgba(33, 165, 28, 0.2);
    border: 2px solid red;
    padding: 1.5%;
    padding-bottom: 30%;
}
.div__enter__message{
    background: rgba(33, 165, 28, 0.2);
    border: 2px solid red;
    margin: 1.5% 0;
    padding: 1.5%;
    padding-bottom: 5%;
}
/* FOOTER */
.footer{

}